{% extends 'adm/admin-base.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Closed Tickets</li>
            </ol>
          </nav>
        </div>
        {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger col-md-12" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class="table-responsive">
    <div class="text-center mt-5 mb-5">
        <h1>Closed Tickets</h1>
    </div>
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr class="text-center">
          <th scope="col" class="sort" data-sort="name">SI</th>
          <th scope="col" class="sort" data-sort="budget">Sender</th>
          <th scope="col" class="sort" data-sort="status">Date</th>
          <th scope="col" class="sort" data-sort="status">Last Replayed</th>
          <th scope="col" class="sort" data-sort="status">Replayed At</th>
          <th scope="col" class="sort" data-sort="status">Closed By</th>
          <th scope="col" class="sort" data-sort="status">Closed At</th>
          <th scope="col" class="sort" data-sort="completion"></th>
        </tr>
      </thead>
      <tbody class="list text-center">
        {% for ticket in tickets %}
          <tr>
            <td>{{forloop.counter}}</td> 
            <td>{{ticket.Creator.username}}</td>
            <td>{{ticket.Date}}</td>
            <td>{{ticket.Last_replayed}}</td>
            <td>{{ticket.Last_replayed_Date}}</td>
            <td>{{ticket.Closed_User}}</td>
            <td>{{ticket.Closed_Date}}</td>
            <!-- <td>{{ticket.Date}}</td> -->
            <td>
              <a href="{% url 'closed-ticket-details' ticket.id %}"><button class="btn btn-success">view</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}