{% extends 'adm/admin-base.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">List Domains</li>
            </ol>
          </nav>
        </div>
        {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger col-md-12" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}

<div class="row">
  <div class="col-md-12 d-flex justify-content-end">
    <button type="button" class="btn btn-danger mr-5 mt-5" data-toggle="modal" data-target="#exampleModalCenter-{{forloop.counter}}">Close Ticket</button>
  </div>
</div>

<div class="text-center mt-5 mb-5">
  <h1>{{ticket.Title}}</h1>
</div>

<div class="card m-5 col-md-11 p-3 pt-0 border border-primary">
  
  {% for replay in replays %}

    {% for attachment in attachments %}
      {% if replay.id == attachment.Replay.id %}
        <a href="{{attachment.Attach.url}}">{{attachment.Name}}</a>
      {% endif %}
    {% endfor %}

  {% if replay.Attachment %}
    <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
      <div class="row text-center d-flex justify-content-center">
      <img src="{{replay.Attachment.url}}" class="img-fluid"/>
    </div>
    <!-- <div class="row d-flex justify-content-center">
      <a href="{{replay.Attachment.url}}">
        <span class="badge badge-warning">single-copy-04</span>
      </a>
    </div> -->
    </div>
  {% endif %}
    <div class="card-body">
      {% if replay.Sender.is_superuser %}
          <span class="badge badge-success mb-2">{{replay.Sender.username}} // {{replay.Date}}</span>
      {% elif replay.Sender.is_staff %}
          <span class="badge badge-primary mb-2">{{replay.Sender.username}} // {{replay.Date}}</span>
      {% else %}
          <span class="badge badge-danger mb-2">{{replay.Sender.username}} // {{replay.Date}}</span>
      {% endif %}
      <p class="card-text"></p>
      <h3 class="card-text">{{replay.Replay|striptags}}</h3>
    </div>
    <hr>
  {% endfor %}

  {% if ticket.Attachment %}
  <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
    <img src="{{ticket.Attachment.url}}" class="img-fluid"/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <hr>
  {% endif %}

  {% for attachment in attachments %}
      {% if ticket.id == attachment.Ticket.id %}
        <a href="{{attachment.Attach.url}}">{{attachment.Name}}</a>
      {% endif %}
  {% endfor %}
  
  <div class="card-body">
    {% if ticket.Creator.is_superuser %}
        <span class="badge badge-success mb-2">{{ticket.Creator.username}} // {{ticket.Date}}</span>
    {% elif ticket.Creator.is_staff %}
        <span class="badge badge-primary mb-2">{{ticket.Creator.username}} // {{ticket.Date}}</span>
    {% else %}
        <span class="badge badge-danger mb-2">{{ticket.Creator.username}} // {{ticket.Date}}</span>
    {% endif %}
    <p class="card-text"></p>
    <h3 class="card-text">{{ticket.Message|striptags}}</h3>
  </div>
</div>

<div class="container-fluid p-5">
    <div class="text-center">
        <h1>ADD REPLAY</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mt-3" id="here">
            <div class="form-outline mb-4 col-md-12 text-center">
                <label class="form-label text-center">Replay</label>
                <textarea required="True" name="test" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
      </div>


      <div class="row">
        <div class="form-outline mb-4 col-md-5 text-center">
          <label class="form-label">File Name</label>
          <input type="text" name="filename" class="form-control" placeholder="Enter file name"/>
        </div>
        <div class="form-outline mb-4 col-md-5 text-center">
          <label class="form-label">Attach File</label>
          <input type="file" name="attachment" class="form-control" />
        </div>
        <div class="form-outline mb-4 col-md-2 text-center">
          <label for="" style="color: transparent;">add new</label>
          <!-- <button class="btn btn-primary mt-2" >+</button> -->
          <i class="btn btn-primary " id="btn1">add new file</i>
        </div>
    </div>

    <div class="row" id="attach1" name="attach1">
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">File Name</label>
        <input type="text" name="filename" class="form-control" placeholder="Enter file name"/>
      </div>
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">Attach File</label>
        <input type="file" name="attachment" class="form-control" />
      </div>
      <div class="form-outline mb-4 col-md-2 text-center">
        <label for="" style="color: transparent;">add new</label>
        <!-- <button class="btn btn-primary mt-2" >+</button> -->
        <i class="btn btn-primary " id="btn2">add new file</i>
      </div>
    </div>

    <div class="row" id="attach2" name="attach2">
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">File Name</label>
        <input type="text" name="filename" class="form-control" placeholder="Enter file name"/>
      </div>
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">Attach File</label>
        <input type="file" name="attachment" class="form-control" />
      </div>
      <div class="form-outline mb-4 col-md-2 text-center">
        <label for="" style="color: transparent;">add new</label>
        <!-- <button class="btn btn-primary mt-2" >+</button> -->
        <i class="btn btn-primary " id="btn3">add new file</i>
      </div>
    </div>

    <div class="row" id="attach3" name="attach3">
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">File Name</label>
        <input type="text" name="filename" class="form-control" placeholder="Enter file name"/>
      </div>
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">Attach File</label>
        <input type="file" name="attachment" class="form-control" />
      </div>
      <div class="form-outline mb-4 col-md-2 text-center">
        <label for="" style="color: transparent;">add new</label>
        <!-- <button class="btn btn-primary mt-2" >+</button> -->
        <i class="btn btn-primary " id="btn4">add new file</i>
      </div>
    </div>

    <div class="row" id="attach4" name="attach4">
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">File Name</label>
        <input type="text" name="filename" class="form-control" placeholder="Enter file name"/>
      </div>
      <div class="form-outline mb-4 col-md-5 text-center">
        <label class="form-label">Attach File</label>
        <input type="file" name="attachment" class="form-control" />
      </div>
      <div class="form-outline mb-4 col-md-2 text-center">
        <label for="" style="color: transparent;">add new</label>
        <!-- <button class="btn btn-primary mt-2" >+</button> -->
        <i class="btn btn-primary " id="btn5">add new file</i>
      </div>
    </div>


      <div class="row mb-4 text-center">
        <div class="col-md-4"></div>
        <div class="col d-flex justify-content-center col-md-4">
          <button type="submit" class="btn btn-primary btn-block">submit</button>
        </div>
        <div class="col-md-4"></div>
      </div>
</div>

<div class="modal fade" id="exampleModalCenter-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        do you want to close the ticket
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{% url 'admin-close' ticket.id %}"><button type="button" class="btn btn-danger">Close Ticket</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}