{% extends 'adm/admin-base.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">List Domains</li>
            </ol>
          </nav>
        </div>
        {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger col-md-12" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}

<div class="row">
  <div class="col-md-12 d-flex justify-content-end">
    <a href="{% url 'admin-close' ticket.id %}"><input type="button" value="close ticket" class="btn btn-danger mr-5 mt-5" ></a>
  </div>
</div>

<div class="card m-5 col-md-11 p-3 pt-0 border border-primary">
  {% for replay in replays %}
  {% if replay.Attachment %}
    <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
      <img src="{{replay.Attachment.url}}" class="img-fluid"/>
      <!-- <a href="{{replay.Attachment.url}}">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
          <h6>{{replay.Attachment}}</h6>
        </div>
      </a> -->
    </div>
  {% endif %}
    <div class="card-body">
        <span class="badge badge-warning mb-2">{{replay.Sender.username}} // {{replay.Date}}</span>
      <p class="card-text"></p>
      <h3 class="card-text">{{replay.Replay}}</h3>
    </div>
    <hr>
  {% endfor %}

  {% if ticket.Attachment %}
  <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
    <img src="{{ticket.Attachment.url}}" class="img-fluid"/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <hr>
  {% endif %}
  <div class="card-body">
      <span class="badge badge-warning">{{ticket.Creator.username}} // {{ticket.Date}}</span>
    <p class="card-text"></p>
    <h3 class="card-text">{{ticket.Message}}</h3>
  </div>
</div>

<div class="container-fluid p-5">
    <div class="text-center">
        <h1>ADD REPLAY</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mt-3">
            <div class="form-outline mb-4 col-md-12 text-center">
                <label class="form-label text-center">Replay</label>
                <textarea required="True" name="test" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-outline mb-4 col-md-12 text-center">
              <label class="form-label">Attach File</label>
              <input type="file" name="attachment" class="form-control" />
            </div>
      </div>
      <div class="row mb-4 text-center">
        <div class="col-md-4"></div>
        <div class="col d-flex justify-content-center col-md-4">
          <button type="submit" class="btn btn-primary btn-block">submit</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>
</div>
{% endblock content %}